@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset; 
  background-color: var(--main-colour); 

} 




:root{
  --main-colour: rgb(253, 150, 68)
}
.nav-links li :hover {
  background-color: rgb(26, 26, 26, .3);
  

}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; 
  list-style: none;
}

nav{ 
    
    

    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    min-height: 8vh; 
    background-color: var(--main-colour);
    font-family: 'Montserrat';
    
    
    
  } 

  .nav-links{
    display: flex; 
    width: 30%; 
    justify-content: space-around;
  }

  .nav-links a{
    color: white; 
    text-decoration: none; 
    letter-spacing: 1px; 
    font-weight: normal; 
    font-size: 25px;  
    transition: all 0.3s ease 0s;
    background-color: rgb(26, 26, 26, 0);
    padding: 4px 15px;
    border: none;
    border-radius: 7px; 


 
    
    
  } 



  .logo{
    color: white; 
    text-decoration: none; 
    letter-spacing: 1px; 
    font-weight: normal; 
    font-size: 50px;  
    vertical-align: middle;
    
  }

 .logo :hover{ 
    transition: all 0.3s ease 0s;
    transform: scale(105%);
 }
  

 

.nav-links{
  list-style: none; 
}




.burger{ 
  cursor: pointer;
  display: none;
}

.burger div{
  width: 30px; 
  height: 3px;
  background-color: white; 
  margin: 6px; 
  transition: all 0.3s ease;
} 

@media screen and (max-width:1024px){
  .nav-links{
    width: 50px;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
 
  .nav-links{
   position: absolute; 
    right: 0px;
    height: 92vh; 
    top: 9vh; 
    background: var(--main-colour); 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    align-items: center; 
    transform: translate(100%);
    transition: transform 0.5s ease-in;
 }
 .nav-links li{
   opacity: 0;
 }
 .burger {
   display: block; 
 }
}


.nav-active{
  transform: translateX(0%);

} 

@keyframes navLinkFade{
  from{
    opacity: 0; 
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translate(0px); 
  }



}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px,7px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-6px,-7px);
}



main{
  
  
    background: var(--main-colour);
    
    height: 830px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    color: white; 
  text-decoration: none; 
  letter-spacing: 1px; 
  font-weight: normal; 
  font-size: 2em;  
  font-family: 'Montserrat';
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}




barji{ 
  background-color: #4B6584;
  height: 830px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  color: white; 
text-decoration: none; 
letter-spacing: 1px; 
font-weight: normal; 
font-size: 2em;  
font-family: 'Montserrat';

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
  
}


gamessection{
  
  

  color: white; 
  text-decoration: none; 
  letter-spacing: 1px; 
  font-weight: normal; 
  font-size: 3em;  
  font-family: 'Montserrat';

  display: flex;
  flex-direction: column;
  text-align: center;
  
  

  

  
  
    


} 



.GamesList{
  list-style: none; 
  margin-bottom: 0 auto; 
  display: inline-block;
  padding: 6% 2%;  
  text-align: center; 
  
}


.ImgE{
  list-style: none; 
  cursor: pointer;
  border-radius: 25px; 
  
 
}

.GamesList:hover {
  transform: scale(102%) ; 
  transition: all 0.3s ease 0s;
  
  
}

.games-title{
  margin-bottom: 10%; 
  margin-top: 10%;
}

.body1{
 background-image: url(/ImagesGames/SymBiotic/SimbioticBG.png); 
 list-style: none;
} 

.SymLogo{ 
  display: flex; 
  align-items: center;
  flex-direction: column;
  text-align: center; 
  margin-top: 2%; 


}

.SymContent{
  display: flex; 
  align-items: center;
  flex-direction: column;
  text-align: center; 
  margin-top: 4%; 


  
  color: white; 
  text-decoration: none; 
  letter-spacing: 1px; 
  font-weight: normal; 
  font-size: 3em;  
  font-family: 'Montserrat';  
  padding: 6%;
  
  
}

.SymInfo{
  margin-bottom: 2%; 
  
} 

.download-SYM{
  background-color: DodgerBlue;


}

.download-SYM:hover {
  background-color: royalblue;
}





  









/*# sourceMappingURL=style.css.map */ 



