@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
    
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
} 

nav{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    min-height: 8vh; 
    background-color: var(--main-colour);
    font-family: 'Montserrat'; 

  } 