@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
} 

.nav-bar{
    display:flex;
} 

games-title { 
    background: var(--main-colour);
    height: 830px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    color: white; 
  text-decoration: none; 
  letter-spacing: 1px; 
  font-weight: normal; 
  font-size: 2em;  
  font-family: 'Montserrat';
  
  display: flex;
  
  justify-content: center;
  text-align: center;
  }
  